# The n8n API key which you can generate in the n8n UI under Settings → API.
N8N_API_KEY=...
# n8n needs to access Google through a service account. Put the private key here.
GOOGLE_SERVICE_ACCOUNT_KEY="-----BEGIN PRIVATE KEY-----\n...\n\n-----END PRIVATE KEY-----\n"
# n8n needs to access Google through a service account. Put the service account email here.
GOOGLE_SERVICE_ACCOUNT=...@....iam.gserviceaccount.com
# The read-only Google drive folder id.
GOOGLE_PROJECT_FOLDER=abc123
# The admin-access Google drive folder id which absolutely must be
# in a *SHARED FOLDER, not a PRIVATE FOLDER*.
GOOGLE_DEST_FOLDER=abc123
